@model Hospisim.Models.Paciente

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center">Cadastrar Novo Paciente</h1>

<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="NomeCompleto" class="control-label"></label>
                        <input asp-for="NomeCompleto" class="form-control" />
                        <span asp-validation-for="NomeCompleto" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="Cpf" class="control-label"></label>
                        <input asp-for="Cpf" class="form-control" />
                        <span asp-validation-for="Cpf" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="DataNascimento" class="control-label"></label>
                        <input asp-for="DataNascimento" class="form-control" />
                        <span asp-validation-for="DataNascimento" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="Sexo" class="control-label"></label>
                        <input asp-for="Sexo" class="form-control" />
                        <span asp-validation-for="Sexo" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="TipoSanguineo" class="control-label"></label>
                        <input asp-for="TipoSanguineo" class="form-control" />
                        <span asp-validation-for="TipoSanguineo" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="Telefone" class="control-label"></label>
                        <input asp-for="Telefone" class="form-control" />
                        <span asp-validation-for="Telefone" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="EnderecoCompleto" class="control-label"></label>
                        <input asp-for="EnderecoCompleto" class="form-control" />
                        <span asp-validation-for="EnderecoCompleto" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="NumeroCartaoSus" class="control-label"></label>
                        <input asp-for="NumeroCartaoSus" class="form-control" />
                        <span asp-validation-for="NumeroCartaoSus" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label asp-for="EstadoCivil" class="control-label"></label>
                        <input asp-for="EstadoCivil" class="form-control" />
                        <span asp-validation-for="EstadoCivil" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 mb-3">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="PossuiPlanoSaude" /> @Html.DisplayNameFor(model => model.PossuiPlanoSaude)
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="d-flex gap-3">
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                        <a asp-action="Index" class="btn" style="background-color: darkred; color: white">Voltar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
